@model DataTransferObjects.UserDTO
@{
	ViewBag.Title = "Edit User";
}

@section navbar {
	@Html.Partial("_NavbarAdmin")
}

@if (ViewBag.Status != null)
{
	<div class="col-6 mx-auto">
		@if (ViewBag.Status)
		{
			<div class="alert alert-success">
				@foreach (string message in ViewBag.Messages)
				{
					@message<br />
				}
			</div>
		}
		else
		{
			<div class="alert alert-danger">
				@foreach (string message in ViewBag.Messages)
				{
					@message<br />
				}
			</div>
		}
	</div>
}

<form action='@Url.Content("~/Admin/EditUser")' method="post" enctype="multipart/form-data">
	<fieldset class="form-group">
		<legend class="text-center">Edit User</legend>
		<input type="hidden" name="UserID" value="@Model.UserID" />
		<div class="form-group row">
			<label class="form-control-label col-4 col-form-label text-right" for="name">Name</label>
			<div class="col-4">
				<input class="form-control" type="text" name="Name" value="@Model.Name" id="name" placeholder="Name" aria-describedby="nameHelp" maxlength="50" required autofocus>
				<small id="nameHelp" class="form-text text-muted">At max 50 character long.</small>
			</div>
		</div>
		<div class="form-group row">
			<label class="form-control-label col-4 col-form-label text-right" for="login">Login</label>
			<div class="col-4">
				<input class="form-control" type="text" name="Login" value="@Model.Login" id="login" placeholder="Login" aria-describedby="loginHelp" maxlength="50" required>
				<small id="loginHelp" class="form-text text-muted">At max 50 character long.</small>
			</div>
		</div>
		<div class="form-group row">
			<label class="form-control-label col-4 col-form-label text-right" for="password">Password</label>
			<div class="col-4">
				<input class="form-control" type="password" name="Password" value="@Model.Password" id="password" placeholder="Password" aria-describedby="passwordHelp" minlength="8" maxlength="15" required>
				<small id="passwordHelp" class="form-text text-muted">8-15 characters, contain letters, numbers, special characters.</small>
			</div>
		</div>
		<div class="form-group row">
			<label for="email" class="form-control-label col-4 col-form-label text-right">Email</label>
			<div class="col-4">
				<input class="form-control" type="email" name="Email" value="@Model.Email" id="email" placeholder="Email" maxlength="255" required>
			</div>
		</div>
		<div class="form-group row">
			<label for="image" class="form-control-label col-4 col-form-label text-right">Image</label>
			<div class="col-4 mt-1">
				<input class="form-control-file" type="file" name="Image" id="image">
			</div>
		</div>
		<div class="form-group row">
			<div class="offset-4 col-4">
				<input type="hidden" name="ImageName" value="@Model.ImageName" />
				<img src='@Url.Content("~/Images/" + Model.ImageName)' class="img-thumbnail rounded" width="200px" height="200px" />
			</div>
		</div>
		<div class="form-group row">
			<label for="gender" class="form-control-label col-4 col-form-label text-right">Gender</label>
			<div class="col-4">
				<select class="form-control" name="Gender" id="gender" required>
					<option value="0">--Select--</option>
					<option value="M" @if (Model.Gender == 'M') { <text>selected</text> }>Male</option>
					<option value="F" @if (Model.Gender == 'F') { <text>selected</text> }>Female</option>
				</select>
			</div>
		</div>
		<div class="form-group row">
			<label for="address" class="form-control-label col-4 col-form-label text-right">Address</label>
			<div class="col-4">
				<textarea name="Address" class="form-control" id="address" rows="3" placeholder="Address" aria-describedby="addressHelp" maxlength="50" required>@Model.Address</textarea>
				<small id="addressHelp" class="form-text text-muted">At max 50 character long.</small>
			</div>
		</div>
		<div class="form-group row">
			<label for="age" class="form-control-label col-4 col-form-label text-right">Age</label>
			<div class="col-4">
				<input class="form-control" type="number" name="Age" value="@Model.Age" id="age" placeholder="Age" min="1" required>
			</div>
		</div>
		<div class="form-group row">
			<label class="form-control-label col-4 col-form-label text-right" for="nic">NIC</label>
			<div class="col-4">
				<input class="form-control" type="text" name="NIC" value="@Model.NIC" id="nic" placeholder="NIC" aria-describedby="nicHelp" required>
				<small id="nicHelp" class="form-text text-muted">xxxxx-xxxxxxx-x</small>
			</div>
		</div>
		<div class="form-group row">
			<label class="form-control-label col-4 col-form-label text-right" for="dob">DOB</label>
			<div class="col-4">
				<input class="form-control" type="date" name="DOB" value='@String.Format("{0:yyyy-MM-dd}", Model.DOB)' id="dob" required>
			</div>
		</div>
		<div class="form-group row">
			<label class="form-control-label col-4 col-form-label text-right">Sports</label>
			<div class="col-4 mt-2">
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="checkbox" name="IsCricket" id="cricket" @if (Model.IsCricket) { <text>checked</text> }>
					<label class="form-check-label" for="cricket">Cricket</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="checkbox" name="Hockey" id="hockey" @if (Model.Hockey) { <text>checked</text> }>
					<label class="form-check-label" for="hockey">Hockey</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="checkbox" name="Chess" id="chess" @if (Model.Chess) { <text>checked</text> }>
					<label class="form-check-label" for="chess">Chess</label>
				</div>
			</div>
		</div>
		<div class="form-group row">
			<div class="offset-sm-4 col-4">
				<input class="btn btn-block btn-primary" type="submit" name="submit" value="Edit User">
			</div>
		</div>
	</fieldset>
</form>