@{
	Layout = null;
}

<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

	<title>@ViewBag.Title</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
		@if (WebPrac.Security.SessionManager.User.IsAdmin)
		{
			<a class="navbar-brand" href='@Url.Content("~/Home/Admin")'>Product Management System</a>
		}
		else
		{
			<a class="navbar-brand" href='@Url.Content("~/Home/NormalUser")'>Product Management System</a>
		}
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav">
				@if (WebPrac.Security.SessionManager.User.IsAdmin)
				{
					<li class="nav-item">
						<a class="nav-link" href='@Url.Content("~/Home/Admin")'>Home</a>
					</li>
				}
				else
				{
					<li class="nav-item">
						<a class="nav-link" href='@Url.Content("~/Home/NormalUser")'>Home</a>
					</li>
				}
				<li class="nav-item">
					<a class="nav-link" href='@Url.Content("~/User/Edit")'>Edit Profile</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href='@Url.Content("~/User/ChangePassword")'>Change Password</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href='@Url.Content("~/Product/New")'>Add New Product</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href='@Url.Content("~/Product/ShowAll")'>Show All Products</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href='@Url.Content("~/User/Logout")'>Logout</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="container mb-5">
		@if (TempData["Message"] != null)
		{
			<div class="row">
				<div class="alert alert-info offset-4 col-4">@TempData["Message"]</div>
			</div>
		}
		@if (ViewBag.Status != null)
		{
			<div class="row">
				@if (ViewBag.Status)
				{
					<div class="alert alert-success offset-4 col-4">
						@foreach (string messages in ViewBag.Messages)
						{
							@messages<br />
						}
					</div>
				}
				else
				{
					<div class="alert alert-danger offset-4 col-4">
						@foreach (string messages in ViewBag.Messages)
						{
							@messages<br />
						}
					</div>
				}
			</div>
		}
		@RenderBody()
	</div>
	<!-- Optional JavaScript -->
	@RenderSection("scripts", false)
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>