@model PMS.Entities.ProductDTO

@{
	ViewBag.Title = "Add New Product";
	Layout = "~/Views/Shared/_MyProductLayout.cshtml";
}

<form action="@Url.Content("~/Product/Save")" method="post" enctype="multipart/form-data">
	<fieldset class="form-group">
		<legend class="text-center">Add New Product</legend>
		<input type="hidden" name="ProductID" value="@Model.ProductID" />
		<div class="form-group row">
			<label class="form-control-label col-4 col-form-label text-right" for="Name">Name</label>
			<div class="col-4">
				<input class="form-control" type="text" name="Name" value="@Model.Name" id="Name" placeholder="Name" aria-describedby="NameHelp" minlength="1" maxlength="50" required autofocus>
				<small id="NameHelp" class="form-text text-muted">At max 50 characters.</small>
			</div>
		</div>
		<div class="form-group row">
			<label class="form-control-label col-4 col-form-label text-right" for="Price">Price</label>
			<div class="col-4">
				<input class="form-control" type="number" min="1" name="Price" value="@Model.Price" id="Price" placeholder="1" required>
			</div>
		</div>
		<input type="hidden" name="PictureName" value="@Model.PictureName" />
		@if (Model.PictureName != null)
		{
			<div class="form-group row">
				<div class="offset-4 col-4">
					<img src='@Url.Content("~/UploadedFiles/" + Model.PictureName)' class="img-thumbnail rounded" width="200" height="200" />
				</div>
			</div>
		}
		<div class="form-group row">
			<label class="form-control-label col-4 col-form-label text-right" for="Image">Image</label>
			<div class="col-4">
				<input class="form-control-file" type="file" name="Image" id="Image">
			</div>
		</div>
		<div class="form-group row">
			<div class="offset-sm-4 col-4">
				<input class="btn btn-block btn-outline-primary" type="submit" name="submit" value="Add New Product">
			</div>
		</div>
	</fieldset>
</form>